* { box-sizing: border-box;
    margin: 0;
    padding: 0;}
    
header {
    color: #868B8E;
    font-size: 1.2em;
    overflow-x: hidden;
    }

label .menu {
    position: absolute;
    z-index: 100;
    left: 0px;
    top: 0px;
    width: 3.5rem;
    height: 3.5rem;
    background: #EEEDE7;
    transition: .5s ease-in-out;
    cursor: pointer; 
}

label .hamburger {
    position: absolute;
    top: 25px;
    left: 30px;
    width: 30px;
    height: 3px;
    background: #868B8E;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}
    
label .hamburger:after, label .hamburger:before {
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #868B8E;
}

label .hamburger:before { 
    top: -10px; 
}

label .hamburger:after { 
    bottom: -10px; 
}

label input { 
    display: none; 
}

label input:checked + .menu .hamburger {
    transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
}

label input:checked + .menu .hamburger:before {
    transform: rotate(90deg);
    top: 0;
}

label input:checked + .menu + ul{ 
    opacity: 1; 
    left: 0;
}


label ul {
    z-index: 200;
    opacity: 0;
    position: absolute;
    top: 3.5rem;
    left: -15rem;
    transition: .5s .0s ease-in-out;
    width: auto;
    height: auto;
    padding: 1rem 3rem 1rem 3rem;
    background-color: #EEEDE7;
    border-radius: 0 0 70px 0;
}

label ul li{
    list-style-type: none; 
}

label a {
    margin-bottom: 0.5em;
    display: block;
    color: #868B8E;
    text-decoration: none;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEEDE7;
    padding: 0.8rem;
    height: 3.5rem;
}

.blog-title {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-logo {
height: 3rem;
}

@media screen and (min-width: 820px) {
   
    label .menu {
        visibility: hidden;
    }
    
    label {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }  

    label ul {
        position: static;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        opacity: 1;
        gap: 1rem;
        padding-right: 1rem;
    }
    
    label ul li{
        list-style-type: none; 
        font-size: 1rem;
    }
    
    label a {
        color: #868B8E;
        text-decoration: none;
    }
    
    .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #EEEDE7;
        height: 3.5rem;
    }

    .logo {
        display: flex;
        gap: 2rem; 
        padding-left: 0.3rem;
        
    }

    .text-logo {
        font-size: 1.8rem;

    }
}
