:root {
    --main-padding : 0.5rem;
    --main-margin : 1rem;
}

* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

/* main */ 
main{
    background-color: rgb(240, 239, 239);
    border-radius: 10px;
}

/*image*/


.recipe_image_box{
    display : flex;
    align-items: center;
    margin-top: 0;
    height: 21rem;
}

.recipe_image_box img { 
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    object-fit: cover;
    width: 90%;
    height: 300px;
}

/* Title of the recipe*/

.recipe_title h1{
    text-align: center;
}

/* Info of the recipe*/

.recipe_infos {
    margin : var(--main-margin);
    padding : var(--main-padding);
    height : auto;
    border-radius: 10px;
    background-color: white;
    box-shadow :2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.info_list {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

/* Ingredients of the recipe*/

.recipe_ingredients p{
    padding-bottom : var(--main-padding);
    font-weight: bold;
    padding : var(--main-padding);
    padding-top: 0;
}

.recipe_ingredients {
    margin : var(--main-margin);
    padding : var(--main-padding);
    height : auto;
    border : white solid 2px;
    border-radius: 10px;
    background-color: white;
    box-shadow :2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.ingredients_list{
    padding-left: 10%;
}


/* Steps of the recipe*/

.recipe_steps{
    border-radius: 10px;
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    box-shadow :2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.recipe_steps div {
    display: flex;
    padding : var(--main-padding);
    height : auto;
    flex-direction: column;

 

}
.recipe_steps div p:first-child{
    padding-bottom : var(--main-padding);
    font-weight: bold;
}

/* Version desktop*/

@media screen and (min-width: 390px) {
    main{
        max-width : 40rem;
        margin: auto;
        border-radius: 10px;
    }

    /*image*/
    
    .recipe_title{
        margin : var(--main-margin);
        margin-top: 0;
    }
}